<script setup lang="ts">
import { RouterView } from 'vue-router'
import { onMounted } from 'vue'
import {isLogged} from "@/utils/api";

onMounted(() => {
  const slug = window.location.pathname.split('/')[1]
  if(!isLogged() && slug !== 'login' && slug !== 'callback') {
    window.location.href = './login'
  }
})
</script>

<template>
  <div id="headBox">
    <p id="logoText">Lolpedia</p>
  </div>
  <p>
    <router-link to="/login"></router-link>
    <router-link to="/about"></router-link>
    <router-link to="/home"></router-link>
  </p>
  <RouterView />
</template>
