<template>
  <div class="about">
    <div v-if="!champions"></div>
    <template v-if="champions">
      <DataTable :value="champions" tableStyle="min-width: 50rem">
        <Column field="name" header="Nom"></Column>
        <Column field="blurb" header="Lore"></Column>
        <Column field="tags" header="Catégorie"></Column>
      </DataTable>
    </template>
  </div>
</template>

<script>
  import backend from "@/backend/backend.ts";

  export default {
    async mounted() {
      this.champions = await backend.getChampions()
    },
    methods: {
      signout: async () => {
        const res = await backend.logOut()
        if(res.status === 200) {
          window.location.href = './'
        }
        return true
      }
    },
    data() {
      return {
        user: null,
        champions: null
      }
    },
  }
</script>
<style>


@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
