<template>
  <h1>Callback</h1>
</template>

<script setup>
import { onMounted } from 'vue'
import { useCasdoor } from 'casdoor-vue-sdk'

const { signin } = useCasdoor()

function login() {
  signin('http://localhost:5001/', 'api/get-token').then((res) => {
    if (res.success) {
      localStorage.setItem('token', res.token.access_token)
      window.location.href = './about'
    } else {
      console.log('error')
      window.location.href = './login'
    }
  })
}

onMounted(() => {
  login()
})
</script>

<style scoped></style>
