<script setup lang="ts">
import {getCurrentInstance} from "vue";
import {useCasdoor} from "casdoor-vue-sdk";
const { getSigninUrl, getSignupUrl } = useCasdoor();

function login() {
  window.location.href = getSigninUrl()
}

function signup() {
  window.location.href = getSignupUrl()
}
</script>

<template>
  <main>
    <button @click="login">Login</button>
    <button @click="signup">Inscription</button>
  </main>
</template>